body {
  margin: 40px;
  background-color: black;
}

.sidebar {
    grid-area: sidebar;
  }

  .sidebar img{
    max-width: 100%;
    height: auto;
  }

  .fish {
    grid-area: fish;
  }
  .fish img {
    max-width: 100%;
    height: auto;
    z-index: 3;
  }
  .title{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title {
    width: 100%;
    height: auto;
    object-fit: fill;
  
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200px;
    letter-spacing: 20px;
    word-spacing: 30px;
    z-index: 1;
    
    
    
  }

  .title {
    grid-area: header;
  }
  .boxheader img {
    max-width: 100%;
    height: auto;
  }

  

  
  .sidebar p:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 1), 0 0 30px rgba(0, 255, 136), 0 0 40px rgb(0, 255, 136), 0 0 50px rgba(0, 255, 136);
  }
  .sidebar p{ 
    font-size: 76px;
    font-family: 'Courier New', Courier, monospace;
    color: #00280d;
    cursor: pointer;
    z-index: 2;
  }

  .sidebar p:hover {
    color: rgb(0, 255, 136);
    font-size: 80px;
    z-index: 2;
  }







 
  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 690px 300px 310px;
    grid-template-rows: 100px 600px 100px;
    grid-template-areas:
    "header header header"
    "sidebar fish fish"
    "......  .......  .......";
    background-color: #000000;
    color: #7b0000 ;
    


  }




.title span:hover {
  text-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 0, 0, 1), 0 0 40px rgba(255, 0, 0, 1), 0 0 50px rgba(255, 0, 0, 1);
}


.title span {
  transition: color 0.3s;
}

.title span:hover {
  color: red;
  font-size: 220px;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  margin: auto;
}
.grid-container img {
  width: 100%;
  height: auto;
  display: block;
}
.wide {
  grid-column: span 2;
}