body {
  margin: 40px;
  background-color: black;
}

.sidebar {
    grid-area: sidebar;
  }

  .fish {
    grid-area: fish;
  }
  .fish img {
    max-width: 100%;
    height: auto;
  }
  .title{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title {
    width: 100%;
    height: auto;
    object-fit: fill;
  
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    letter-spacing: 20px;
    word-spacing: 30px;
    
    
  }

  .title {
    grid-area: header;
  }
  .boxheader img {
    max-width: 100%;
    height: auto;
  }

  

  .footer {
    grid-area: footer;
  }


  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 800px 300px 300px;
    grid-template-rows: 100px 600px 100px;
    grid-template-areas:
    "header header header"
    "sidebar fish fish"
    "footer  .......  .......";
    background-color: #000000;
    color: #7b0000;
  }


.box {
  background-color: #6c0000;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}


.title span:hover {
  text-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 0, 0, 1), 0 0 40px rgba(255, 0, 0, 1), 0 0 50px rgba(255, 0, 0, 1);
}

.footer {
  background-color: #999;
}

.title span {
  transition: color 0.3s;
}

.title span:hover {
  color: red;
  font-size: 110px;
}