body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('Artboard 1.jpg'); /* Replace 'background.jpg' with your image path */
  background-size: cover ; /* Makes the image cover the entire viewport */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center center; /* Centers the image */

}
img.lamp{
  position: absolute;
  top: 0;
  left: 100px;
  z-index: 2;
}
img.lamp2 {
  position: absolute;
  top: 0;
  left: 100px;
  z-index: 1;
}
img.tile {
  position: absolute;
  top: 0px;
  left:0px;
  z-index: 2;
}



img.layer {
  position: absolute;
  top: 50px;
  min-height: 100vh ;
  left: 780px;
  z-index: 4;
}

img.lase {
  position: absolute;
  min-height: 105vh ;
  top: 0px;
  left:400px;
  z-index: 3;
}

img.rwb2 {
  position: absolute;
  min-height: 12vh ;
  top: 0px;
  left:620px;
  z-index: 5;
}

img.rwb {
  position: absolute;
 
  top: 460px;
  left:-10px;
  z-index: 2;
}

img.light {
  position: absolute;
  min-height: 100vh ;
  top: 50px;
  left:900px;
  z-index: 2;
}

img.window {
  position: absolute;
  top: 450px;
  left:0px;
  z-index: 2;
}
